@import "tailwindcss";

/* Only keep non-Tailwind/JSX-possible styles here */
.product-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

